#taskhead {
  width: 70%; 
  text-align: left;
  margin: 0 auto;
    input { 
      width: 100%;
      border: none; 
      outline-color: transparent;
      font-size: 2em;
      font-weight: 900;
    }
}