#taskList { 
  background-color: rgba(128, 128, 128, 0);
  width:  60%;
  margin: 7em auto 0 auto;
  text-align: left;
  padding: 0px;
}

//Reponsive code for tablets
@media(max-width: 1053px) { 
  #taskList { 
    width: 90%;
  }
} 




// @keyframes slideIn { 
//   from { 
//     opacity: 0;
//     transform: translateY(70px);
//   }

//   to { 
//     opacity: 1;
//     transform: translateY(0);
//   }
// }