#individualTaskBlur { 
  text-transform: capitalize;
  padding: 1em 2em;
  border-radius: 6px;
  width: 80%;
  display: grid;
  grid-template-columns: 80% 5% 15%;
  gap: 1em;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.021);
  margin: 2em 0;
  border-radius: 5px;
  position: relative;
  &::before { 
    width: 70%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.308);
    top: 50%;
    position: absolute;
    content: '';
    z-index: 2;

  };
    li {
      background-color: rgb(255, 255, 255);
      opacity: 0.2;
      font-size: 1.3em;
      animation: slideIn 1s 1 ;
      color: #2E2222;
      list-style-type: none;
      display: block;
    }
    span:nth-child(2) { 
      display: inline-block;
      width: 100%;
      height: 20px;
      background: url('../Assets/delete.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transform: scale(1.2);
      animation: entrance 1 1.4s ;
    }
    #regularDoneBttn { 
      display: inline-block;
      width: 50%;
      height: 20px;
      background: url('../Assets/check.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transform: scale(1.2);
      transition: all 1s;
      animation: entrance 1 1.4s ;
      margin-left: 1em;
    }
    #undoBttn { 
      display: inline-block;
      width: 50%;
      height: 20px;
      background: url('../Assets/undoIcon.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transform: scale(1.2);
      transition: all 1s;
      animation: entrance 1 1.4s ;
      margin-left: 1em;
      scale: (1.3);
      opacity: 1;
    }
}

#individualTask { 
  text-transform: capitalize;
  padding: 1em 2em;
  border-radius: 6px;
  width: 80%;
  display: grid;
  grid-template-columns: 80% 5% 15%;
  gap: 1em;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.068);
  margin: 2em 0;
  border-radius: 5px;
  position: relative;
  &::before { 
   opacity: 0;
  };
    li {
      background-color: rgb(255, 255, 255);
      opacity: 1;
      font-size: 1.3em;
      animation: slideIn 1s 1 ;
      color: #2E2222;
      list-style-type: none;
      display: block;
    }
    span:nth-child(2) { 
      display: inline-block;
      width: 100%;
      height: 20px;
      background: url('../Assets/delete.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transform: scale(1.2);
      animation: entrance 1 1.4s ;
    }
    #regularDoneBttn { 
      display: inline-block;
      width: 50%;
      height: 20px;
      background: url('../Assets/check.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transform: scale(1.2);
      transition: all 1s;
      animation: entrance 1 1.4s ;
      margin-left: 1em;
    }
    #undoBttn { 
      display: inline-block;
      width: 50%;
      height: 20px;
      background: url('../Assets/undoIcon.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transform: scale(1.2);
      transition: all 1s;
      animation: entrance 1 1.4s ;
      margin-left: 1em;
      scale: (1.3);
      opacity: 1;
    }
}

@keyframes entrance { 
  from { 
    transform: translateY(30px);
    opacity: 0;
  }

  to { 
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeAway { 
  from { 
    opacity: 1;
    transform: translateY(0px);
  }
  to { 
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes fadeAwayDone { 
  from { 
    opacity: 1;
    transform: scale(1)
  }
  to { 
    opacity: 0;
    transform: scale(2);
  }
}