.loginContainer { 
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 3.5fr;
    form { 
      padding: 17vh 20%;
        .heading { 
          color: #0a0a0acc;
          font-size: 3em;
          text-transform: uppercase;
        }
        input { 
          display: block;
          margin: 2em 0;
          font-size: 1em;
          padding: 9px 9px;
          border: 1px solid #0a0a0acc;
          border-radius: 3px;
            &:focus { 
              outline: 2px solid #8E54E9;
              border: none;
            }
        }
        button { 
          background-color: white;
          color: #0a0a0acc;
          font-size: 1.3em;
          font-weight: bolder;
          border: 1px solid #8E54E9;
          padding: 0.4em 2.3em 0.4em 3em;
          cursor: pointer;
          border-radius: 200px;
          text-transform: uppercase;
          position: relative;
            &::before { 
              width: 16px;
              height: 16px;
              content: '';
              background: url('../Assets/purplegoIcon.svg');
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              display: block;
              position: absolute;
              left: 15%;
              top: 30%;
              transition: all 0.4s;
            }
            &:hover::before { 
              left: 80%;
            }
        }
        #loginPromptMobile { 
          margin-top: 2em;
          text-transform: uppercase;
            a { 
              display: inline-block;
              padding-left: 7px;
              text-decoration: none;
              color: #0a0a0acc;
              border-bottom: 1px solid #0a0a0acc;
            }
        }
        .errorBoxHide { 
          background: red;
          color: white;
          padding: 5px 0;
          width: 100%;
          text-align: center;
          border-radius: 7px;
          font-weight: bolder;
          text-transform: uppercase;
          opacity: 0;
          font-size: 0.1em;
            a { 
              color: white;
              text-decoration: none;
              padding-left: 6px;
              text-transform: uppercase;
              border-bottom: 1px solid white;
            }
        }
        .errorBoxShow { 
          background: red;
          color: white;
          padding: 5px 0;
          width: 100%;
          text-align: center;
          border-radius: 7px;
          font-weight: bolder;
          text-transform: uppercase;
          font-size: 0.9em;
          opacity: 1;
            a { 
              color: white;
              text-decoration: none;
              padding-left: 6px;
              text-transform: uppercase;
              border-bottom: 1px solid white;
            }
        }
    }

    .signupBox { 
      background: linear-gradient(to top left, #8E54E9, #4776E6);
      padding: 17vh 5%;
        h1 { 
          font-size: 3.2em;
          text-transform: uppercase;
          color: white;
        }
        a { 
          background-color: white;
          text-decoration: none;
          color: #0a0a0acc;
          font-weight: bold;
          padding: 0.5em 2em;
          font-size: 1.4em;
          border: 1px solid whitesmoke;
          border-radius: 40px;
          padding-left: 15%;
          position: relative;
          transition: all 2s;
          text-transform: uppercase;
            &::before { 
              width: 16px;
              height: 16px;
              content: '';
              background: url('../Assets/purplegoIcon.svg');
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              display: block;
              position: absolute;
              left: 15%;
              top: 35%;
              transition: all 0.5s;
            }
            &:hover::before { 
              left: 85%;
            }
        }
    }
}