.userBar { 
  display: grid;
  grid-template-columns: 75% 10% 11%;
  background-color: rgb(255, 255, 255);  
  position: absolute;
  width: 100%;
  top: 0;
  vertical-align: middle;
    h1 { 
      font-size: 1.2em;
      font-weight: bolder;
      text-transform: uppercase;
    }
    .userSign { 
      width: 100%;
      height: 40px;
      margin-top: 8%;
      margin-left: 2em;
      position: relative;
        button { 
          background-color: white;
          font-size: 0.8em;
          border: 1px solid black;
          font-weight: bolder;
          padding: 0.4em 1em;
          cursor: pointer;
        }
    }
}
